@import "tailwindcss";

:root {
  --background: 255 100% 100%;
  --foreground: 0 0% 10%;
  --primary: 222.2 89% 90%;
  --primary-foreground: 222.2 89% 10%;
  --secondary: 0 0% 100%;
  --secondary-foreground: 0 0% 20%;
  --secondary-hover: 0 0% 100% / 0.08;
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --ring: 222.2 89% 55%;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 95%;
    --secondary-hover: 0 0% 100% / 0.08;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 210 40% 98%;
  }
}

@theme {
  --breakpoint-xs: 370px;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

body {
  position: relative;
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button:enabled:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button:focus-visible {
  outline: none;
  box-shadow: none;
}
